@import "tailwindcss";

body {
    
    background-color: #001;
    padding: 20px;
}

.card-items {
    border-radius: 20px;
}

.card-items h4 {
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    color: #d4d4d4;
    margin-top: 20px;
}

.card-items p {
    line-height: 2rem;
} 

.form-group label {
    font-size: 1.2rem;
    font-weight: bold;
}

.form-group div {
    margin-top: 50px;
}

.form-group input, .form-group textarea {
    margin-top: 20px;
}

.react-span {
    cursor: pointer;
}


.react-span:hover {
    text-decoration: underline;
}

.form-field > label {
    font-size: 1.2rem;
    font-weight: bold;
}

.form-field label > div {
    margin-top: 12px;
    margin-bottom: 12px;
}

.inputs {
    border: 2px solid white;
    border-radius: 7px;
    width: 100%;
    padding: 10px;
}

.form-field > label > div > textarea {
    height: 300px; 
    resize: vertical;
}


@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    } to {
        opacity: 1;
        scale: 1;
    }
}

.card-items {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}



@media screen and (max-width: 720px) {
    
    .cards {
        flex-direction: column;
    }
    .card-items {
        width: 350px;
        height: 350px;
    }

    .home-text {
        margin-bottom: 150px;
    }

    nav > ul {
        font-size: 0.8rem;
    }

    .react-vid {
        width: 350px;
        height: 300px;
    }
}